conky.config = {
  alignment = 'top_left',
  background = false,
  border_width = 0.5,
  cpu_avg_samples = 4,
  default_color = '{{ conky_default_color }}',
  default_outline_color = '{{ conky_outline_color }}',
  default_shade_color = '{{ conky_shade_color }}',
  draw_borders = false,
  draw_graph_borders = false,
  draw_outline = true,
  draw_shades = true,
  use_xft = true,
  font = '{{ conky_font }}',
  gap_x = 40,
  gap_y = 70,
  maximum_width = 300,
  minimum_width = 300,
  minimum_height = 5,
  net_avg_samples = 2,
  double_buffer = true,
  out_to_console = false,
  out_to_stderr = false,
  extra_newline = false,
  own_window = true,
  own_window_colour = '000000',
  own_window_class = 'Conky',
  own_window_argb_visual = true,
  own_window_type = 'dock',
  own_window_transparent = true,
  own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
  stippled_borders = 0,
  update_interval = 1,
  uppercase = false,
  use_spacer = 'none',
  show_graph_scale = false,
  show_graph_range = false,

  color0 = '{{ conky_color0 }}',
  color1 = '{{ conky_color1 }}',
  color2 = '{{ conky_color2 }}',
  color3 = '{{ conky_color3 }}',
  color4 = '{{ conky_color4 }}'
}
conky.text = [[
{% if conky_weather %}
${alignc}${font Noto Color Emoji:size=32}${alignc}${execi 900 curl "wttr.in/Saint+Petersburg?format=1"}$font

${hr}

{% endif %}
${alignc}${color0}Uptime: ${color4}$uptime${color}

${hr}

${alignc}${color1}${wireless_essid {{ conky_net }}}${color}
${alignc}${color1}${wireless_link_bar 6,170 {{ conky_net }}}${color}

${alignc}${color2}${addr {{ conky_net }}}${color}
${alignc}-----
${alignc}${color4}${execi 100 ~/.conky/ping.sh}${color}

${hr}

${color2}${downspeedgraph {{ conky_net }} 20,145} ${color3}${upspeedgraph {{ conky_net }} 20,145}

${color2}▼ ${color}${downspeed {{ conky_net }}} ${alignr}${upspeed {{ conky_net }}}${color3} ▲${color}
${color2}▼ ${color}${totaldown {{ conky_net }}} ${alignr}${totalup {{ conky_net }}}${color3} ▲${color}

${hr}

${alignc}${color4}{{ ansible_board_vendor }} {{ ansible_product_version }}

${color3}{{ ansible_distribution }} {{ ansible_distribution_version }} ${alignr}${color2}${execi 1000 uname -r}${color}
]]
