conky.config = {
  alignment = 'top_right',
  background = false,
  border_width = 0.5,
  cpu_avg_samples = 4,
  default_color = '{{ conky_default_color }}',
  default_outline_color = '{{ conky_outline_color }}',
  default_shade_color = '{{ conky_shade_color }}',
  draw_borders = false,
  draw_graph_borders = false,
  draw_outline = true,
  draw_shades = true,
  use_xft = true,
  font = '{{ conky_font }}',
  gap_x = 40,
  gap_y = 70,
  maximum_width = 300,
  minimum_width = 300,
  minimum_height = 5,
  net_avg_samples = 2,
  double_buffer = true,
  out_to_console = false,
  out_to_stderr = false,
  extra_newline = false,
  own_window = true,
  own_window_colour = '000000',
  own_window_class = 'Conky',
  own_window_argb_visual = true,
  own_window_type = 'dock',
  own_window_transparent = true,
  own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
  stippled_borders = 0,
  update_interval = 1,
  uppercase = false,
  use_spacer = 'none',
  show_graph_scale = false,
  show_graph_range = false,

  color0 = '{{ conky_color0 }}',
  color1 = '{{ conky_color1 }}',
  color2 = '{{ conky_color2 }}',
  color3 = '{{ conky_color3 }}',
  color4 = '{{ conky_color4 }}'
}
conky.text = [[
{% for cpu in range(ansible_processor_vcpus) recursive%}
${color0}CPU{{ cpu }}:${color3} ${cpu cpu{{ cpu }}}%$color ${goto 120}${cpubar cpu{{ cpu }}}
{% endfor %}

$hr

{% for core in range(ansible_processor_cores) recursive%}
${color0}Core {{ core }}:${color3} $alignr${execi 100 sensors | grep -i '^Core {{ core }}' | awk ' { print $3 }'}$color
{% endfor %}

$hr

${color0}MEM :$color  $membar
${color0}SWAP:$color  $swapbar

$hr

{%for mount in ansible_mounts | map(attribute='mount') %}
${color0}{{ mount }}$color $alignc${fs_bar {{ mount }}}
{% endfor %}

$hr

{%for bat in power_supply.stdout_lines %}
${color0}{{ bat }}:  ${color2}${battery_bar {{ bat }}}$color
{% endfor %}
]]
